GAUZY_API_BASE_URL = http://api.gauzy.co/api

# Front end urls

PLANE_CLIENT_BASE_URL = 'http://localhost:3000'
PLANE_CLIENT_ADMIN_URL = 'http://localhost:3001'
PLANE_CLIENT_SPACE_URL = 'http://localhost:3002'
PLANE_APP_BASE_URL = 'http://localhost:3040'

# Configs

PLANE_GITHUB_APP_NAME = 'Plugin Proxy Plane'
PLANE_SLACK_CLIENT_ID = ''
PLANE_POSTHOG_KEY = ''
PLANE_POSTHOG_HOST = 'https://app.posthog.com'

# Auth and API KEYS for GAUZY API

GAUZY_API_KEY = ''
GAUZY_API_SECRET = ''
